@media all and (max-width: 425px) {
    #desktop {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    #main_se {
        background-position: 690px;
    }

    .col-1 {
        flex-basis: 100%;
        margin-left: 29px;
    }

    .col-1 h2 {
        font-size: 25px;
    }

    .col-1 h3 {
        font-size: 9px;
        font-weight: 100;
        margin: 12px 0 11px;
    }
    #titel {
        top: 40px;
        left: 140px;
    }
    .image {
        width: 289px;
        height: 425px;
        top: 22%;
        left: 16%;
    }
    .frame {
        width: 289px;
        height: 425px;
    }
    .content {
        left: 16px;
        top: 70%;
        width: 378px;
        height: 378px;
    }
    .aboutPara {
        font-size: 15px;
    }
    .button-about>a {
        width: 145px;
        height: 28px;
    }
    .button-about {
        top: 220px;
        left: 50%;
    }
    #About {
        height: 950px;
    }
    #Services {
        height: 1185px;
    }
    .services-box:nth-child(1) {
        background-image: url("../img/desktopDH.jpg");
        background-size: 158%;
        background-position: center;
        left: 8%;
        top: 128px;
    }
    .services-box:nth-child(2) {
        background-image: url("../img/mobileDH.jpg");
        background-size: cover;
        background-position: center;
        top: 66%;
        bottom: 0;
    }
    .services-box:nth-child(3) {
        background-image: url("../img/webDH.jpg");
        background-size: cover;
        background-position: center;
        top: 40%;
        left: 8%;
    }
    #se-title {
        right: 142px;
    }
    .text-h{
        opacity: 1;
    }
    .project-line {
        display: none;
    }
    .project-div {
        box-shadow: 1px 3px 6px 2px #899096;
        width: 340px;
        height: 70px;
    }
    #p-1 {
        top: 20%;
    }
    #p-2 {
        top: 32%;
        left: 10%;
    }
    #p-3 {
        top: 45%;
    }
    #p-4 {
        top: 57%;
        left: 10%;
    }
    #p-6 {
        top: 81%;
        left: 10%;
    }
    .text-p {
        left: 130px;
    }
    .p-h2 {
        font-size: 16px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    #desktop {
        display: none;
    }
    #mobile{
        position: absolute;
    }
    #mobile nav {
        left: 154%;
    }
    .menu-icon {
        display: block;
    }

    #main_se {
        background-position: -552px;
    }

    .col-1 {
        flex-basis: 100%;
        margin-left: 25px;
    }

    .col-1 h2 {
        font-size: 35px;
    }

    .col-1 h3 {
        font-size: 15px;
        font-weight: 100;
        margin: 20px 0 20px;
    }
    #About {
        height: 1210px;
    }
    .image {
        top: 12%;
    }
    .frame {
        top: 16%;
    }
    .content {
        left: 2%;
        top: 60%;
    }
    #Services{
        height: 1185px;
    }
    .services-box {
        top: 28%;
        right: 0;
        left: 0;
        margin: auto;
    }
    .services-box:nth-child(1) {
        background-image: url("../img/desktopDH.jpg");
        background-size: 158%;
        background-position: center;
        left: 0;
        top: 133px;
    }
    .services-box:nth-child(2) {
        background-image: url("../img/mobileDH.jpg");
        background-size: cover;
        background-position: center;
        top: 8%;
        bottom: 0;
    }
    .services-box:nth-child(3) {
        background-image: url("../img/webDH.jpg");
        background-size: cover;
        background-position: center;
        top: 70%;
        left: 10%;
    }
    #se-title {
        right: 300px;
    }
    .text-h{
        opacity: 1;
    }
    .project-line {
        display: none;
    }
    #p-1 {
        top: 20%;
    }
    #p-2 {
        top: 33%;
        left: 10%;
    }
    #p-3 {
        top: 46%;
    }
    #p-4 {
        top: 58%;
        left: 10%;
    }
    #p-5 {
        top: 71%;
    }
    #p-6 {
        top: 85%;
        left: 10%;
    }
    .project-div {
        box-shadow: 1px 3px 6px 2px #899096;
        width: 600px;
        height: 90px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .menu-icon {
        display: none;
    }

    #close {
        display: none;
    }

    .col-1 {
        flex-basis: 76%;
        margin-left: 55px;
    }
    .image {
        left: 4%;
    }
    .frame {
        left: 6%;
    }
    .content {
        width: 380px;
    }
    .aboutPara {
        font-size: 18px;
    }
    #titel {
        top: 45px;
        left: 50px;
    }
    .services-box {
        width: 263px;
        height: 221px;
    }
    #Services {
        height: 393px;
    }
    .services-box:nth-child(1) {
        left: 2%;
    }
    .services-box:nth-child(3) {
        right: 2%;
    }
    #p-2 {
        top: 34%;
    }
    #p-4 {
        top: 54%;
    }
    #p-6 {
        top: 77%;
    }
    .project-line {
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .menu-icon {
        display: none;
    }

    #close {
        display: none;
    }

    .col-1 {
        flex-basis: 60%;
        margin-left: 80px;
    }
    .image {
        left: 13%;
    }
    .frame {
        left: 15%;
    }
    .services-box:nth-child(1) {
        left: 2%;
    }
    .services-box:nth-child(3) {
        right: 2%;
    }
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
    .menu-icon {
        display: none;
    }

    #close {
        display: none;
    }
    .image {
        left: 13%;
    }
    .frame {
        left: 15%;
    }
}