body {
    overflow-x: hidden;
}

header {
    background-color: black;
}

.container {
    width: 100%;
    min-height: 9vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.name {
    font-size: 30px;
    color: red;
    font-family: system-ui;
    cursor: pointer;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: block;
    top: 4%;
    position: absolute;
    /* left: 0; */
    right: 8%;
}


nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

nav ul li a:hover {
    color: red;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: relative;
    top: 319px;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 210px;
}

.col-1 h2 {
    font-size: 45px;
    color: white;
}

.col-1 h3 {
    font-size: 25px;
    color: #a8a8a8;
    font-weight: 100;
    margin: 20px 0 10px;
}

#main_se {
    z-index: -1;
    position: relative;
    height: 100vh;
    width: 100%;
    top: 0;
    background-image: url("../img/my_bg.jpg");
    background-size: cover;
    background-position: center;
}

button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #ff4747, #ff0000);
    border-radius: 6px;
    cursor: pointer;
}

#mobile {
    display: none;
}

#mobile nav {
    text-align: center;
    max-height: 200px;
    position: relative;
    top: -42px;
}

#mobile nav ul {
    display: grid;

}

#mobile nav ul li {
    margin-top: 20px;
}

.menu-icon {
    display: none;
}

#close {
    display: none;
}

/*-------------------------------------------------------------------------------------*/

#About {
    position: relative;
    height: 750px;
}

#titel {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    top: 45px;
    left: 300px;
}

#titel::after {
    position: absolute;
    left: 0;
    bottom: -10px;
    content: " ";
    width: 100%;
    height: 8px;
    background: #ff0000;
    border-radius: 30px;
}

.frame {
    position: absolute;
    width: 389px;
    height: 525px;
    border-radius: 20px;
    box-shadow: 1px 3px 6px 2px #899096;
    top: 26%;
    left: 25%;
    background: linear-gradient(to right, #ff4747, #ff0000);
}

.image {
    position: absolute;
    width: 389px;
    height: 525px;
    border-radius: 20px;
    box-shadow: 1px 3px 6px 2px #899096;
    top: 22%;
    left: 23%;
}

.content {
    position: absolute;
    left: 50%;
    top: 33%;
    width: 630px;
    height: 378px;
}

.heder1 {
    position: absolute;
    font-size: 30px;
    top: 0;
}

.heder2 {
    position: absolute;
    font-size: 20px;
    top: 40px;
    color: #ff3c00;
}

.aboutPara {
    position: absolute;
    top: 26%;
    font-size: 21px;
    font-family: 'PT Sans', sans-serif;
}

.button-about {
    position: absolute;
    width: 382px;
    height: 30px;
    top: 270px;
    left: 50%;
    transform: translateX(-50%);
}

.button-about > a {
    position: absolute;
    width: 180px;
    height: 30px;
}

.button-about > a:nth-child(1) {
    left: 0;
}

.button-about > a:nth-child(2) {
    right: 0;
}

.button-about > a > button {
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    height: 150%;
    border: 0;
}

.button-about > a > .btnHireMe {
    background: #1C2520;
    color: white;
    transition: all 0.6s ease;
}

.button-about > a > .btnHireMe:hover {
    background: black;
}

.button-about > a > .btnCV {
    background: #ff0800;
    color: white;
    border: 0;
    transition: all 0.6s ease;
}

.button-about > a > .btnCV:hover {
    background: rgb(170, 0, 0);
}

/*--------------------------------------------------------------------------------------*/
#Services {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url("../img/bg-s.jpg");
    background-size: cover;
    background-position: center;
}

.services-box {
    position: absolute;
    width: 350px;
    height: 320px;
    border-radius: 20px;
    box-shadow: 1px 3px 6px 2px #899096;
    top: 28%;
    transition: 0.5s;
}

.services-box:nth-child(1) {
    left: 10%;
    background-image: url("../img/desktopD.jpeg");
    background-size: 158%;
    background-position: center;
}

.services-box:nth-child(1):hover {
    background-image: url("../img/desktopDH.jpg");
    background-size: 158%;
    background-position: center;
}

.services-box:nth-child(2) {
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../img/mobileD.png");
    background-size: cover;
    background-position: center;
}

.services-box:nth-child(2):hover {
    background-image: url("../img/mobileDH.jpg");
    background-size: cover;
    background-position: center;
}

.services-box:nth-child(3) {
    right: 10%;
    background-image: url("../img/webD.jpg");
    background-size: cover;
    background-position: center;
}

.services-box:nth-child(3):hover {
    background-image: url("../img/webDH.jpg");
    background-size: cover;
    background-position: center;
}

.services-box:hover {
    width: 370px;
    height: 340px;
    z-index: 1;
    transition: 1s;
}

#se-title {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    top: 0;
    right: 200px;
    color: white;
}

#se-title::after {
    position: absolute;
    left: 0;
    bottom: -10px;
    content: " ";
    width: 100%;
    height: 8px;
    background: #ff0000;
    border-radius: 30px;
}

.text-h {
    position: absolute;
    width: max-content;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    color: white;
    top: 32%;
    left: 50%;
    transform: translate(-50%, 10%);
    transition: all 0.4s ease-out;
    text-shadow: 3px 2px 3px black;
    opacity: 0;
}

.services-box:hover > .text-h {
    opacity: 1;
}

.services-box:nth-child(3) > .text-h {
    top: 39%;
}

/*-------------------------------------------------------------------------------------------*/
#Project {
    position: relative;
    width: 100%;
    height: 800px;
}

.text-p {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    top: 45px;
    left: 300px;
}

.text-p::after {
    position: absolute;
    left: 0;
    bottom: -10px;
    content: " ";
    width: 100%;
    height: 8px;
    background: #ff0000;
    border-radius: 30px;
}
.project-line{
    position: absolute;
    width: 5px;
    height: 243px;
    background: red;
    left: 0;
    top: 75px;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}
.project-div{
    position: absolute;
    width: 700px;
    height: 100px;
    border-radius: 20px;
}
#p-1{
    left: 10%;
    top: 26%;
}
#p-2{
    top: 26%;
    left: 53%;
}
#p-3{
    top: 47%;
    left: 10%;
}
#p-4{
    top: 47%;
    left: 53%;
}
#p-5{
    top: 69%;
    left: 10%;
}
#p-6{
    top: 69%;
    left: 53%;
}
.p-h2{
    position: absolute;
    font-family: monospace;
    font-size: 25px;
    left: 10px;
}
.p-RM{
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-decoration: none;
    color: #25272b;
    text-shadow: 1px 0px 1px black;
}
.p-RM:hover{
    color: red;
}
.project-div:hover{
    box-shadow: 1px 3px 6px 2px #899096;
}
.project-line:nth-child(2){
    left: -1628px;
}