header{
    background-color: black;
}
.container {
    width: 100%;
    min-height: 9vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.name {
    font-size: 30px;
    color: red;
    font-family: system-ui;
    cursor: pointer;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: block;
    top: 4%;
    position: absolute;
    /* left: 0; */
    right: 8%;
}


nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

nav ul li a:hover {
    color: red;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: relative;
    top: 319px;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 210px;
}

.col-1 h2 {
    font-size: 45px;
    color: white;
}

.col-1 h3 {
    font-size: 25px;
    color: #a8a8a8;
    font-weight: 100;
    margin: 20px 0 10px;
}

#main_se {
    z-index: -1;
    position: relative;
    height: 100vh;
    width: 100%;
    top: 0;
    background-image: url("../img/my_bg.jpg");
    background-size: cover;
    background-position: center;
}

button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #ff4747, #ff0000);
    border-radius: 6px;
    cursor: pointer;
}

#mobile {
    display: none;
}

#mobile nav {
    text-align: center;
    max-height: 200px;
    position: relative;
    top: -42px;
}

#mobile nav ul {
    display: grid;

}

#mobile nav ul li {
    margin-top: 20px;
}

.menu-icon {
    display: none;
}

#close {
    display: none;
}

/*-------------------------------------------------------------------------------------*/
#About{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
#About div{
    border: 1px solid black;
    width: 50%;
    height: 75%;/**/
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
#About div:nth-child(2){
    right: 0;
}

#AboutImg{
    width: 490px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}